@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #212529;
  background-color: #f8fafc;
}

.Button {
  font-family: 'Segoe UI', sans-serif;
  color: #212529;
  background-color: white;
}

.logo {
  max-width: 26rem;
  border-radius: 3px;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
